CREDIMI_URL=http://localhost:8090
CREDIMI_PB_ADMIN=admin@example.org
CREDIMI_PB_PASS=adminadmin

CREDIMI_RUNNER_ID=/test-s-organization/giulio-1
BASE_NAME=
GOLDEN_PATH=
RUNNER_DOMAIN=
RUNNER_CADDY_SITE=:80
CLOUDFLARE_TUNNEL_TOKEN=
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4318  
OTEL_EXPORTER_OTLP_INSECURE=true
OTEL_SERVICE_NAME=credimi-runner-server
CLUE_LOG_FORMAT=terminal